# Project exclude paths
/.gradle/
/build/
/build/
/bin/
.settings
.project
.classpath
/.idea/
**.bak
/src/test/java/com/cobbinterwebs/fsm/tcpip/TCPIP_StateMachine.java
/src/test/java/com/cobbinterwebs/fsm/troubleticket/FSMFacadeImpl.java
