<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="15">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
        <Property name="LOG_PATTERN_DETAIL">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}.%M() - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN_DETAIL}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="com.cobbinterwebs.fsm.tcpip.custom.MyHandler" level="debug">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>